<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <img src="images/people/110/guy-1.jpg" alt="people" class="img-circle width-80" />
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">John Doe</h1>
                <p class="text-subhead"><a class="link-white text-underline" href="website-instructor-public-profile.html">View public profile</a></p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Instructor</span>
            </div>
        </div>
    </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">

            <div class="media v-middle media-clearfix-xs">
              <div class="media-body">
                <div class="max-width-300 form-group daterangepicker-report" id="reportrange">
                  <div class="form-control overflow-hidden">
                    <i class="fa fa-calendar fa-fw"></i>
                    <span>December 10, 2014 - January 9, 2015</span>
                    <b class="caret"></b>
                  </div>
                </div>
              </div>
              <div class="media-right">
                <div class="width-300 width-auto-xs">
                  <div class="row text-center">
                    <div class="col-sm-6">
                      <h4 class="margin-none">Gross Revenue</h4>
                      <p class="text-display-1 text-warning margin-none">102.4k</p>
                    </div>
                    <div class="col-sm-6">
                      <h4 class="margin-none">Net Revenue</h4>
                      <p class="text-display-1 text-success margin-none">55k</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-body">
            <div id="line-holder" data-toggle="flot-chart-earnings" class="flotchart-holder height-300"></div>
          </div>
          <div class="panel-footer">
            <div class="table-responsive">
              <table class="table table-headerless table-condensed text-subhead v-middle margin-none">
                <tbody>
                  <tr>
                    <td><a href="#">January 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;85064</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;17040</td>
                  </tr>
                  <tr>
                    <td><a href="#">February 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;24073</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;15020</td>
                  </tr>
                  <tr>
                    <td><a href="#">March 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;90789</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;15986</td>
                  </tr>
                  <tr>
                    <td><a href="#">April 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;58940</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;55111</td>
                  </tr>
                  <tr>
                    <td><a href="#">May 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;82301</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;17456</td>
                  </tr>
                  <tr>
                    <td><a href="#">June 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;7312</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;27134</td>
                  </tr>
                  <tr>
                    <td><a href="#">July 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;44371</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;37205</td>
                  </tr>
                  <tr>
                    <td><a href="#">August 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;78447</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;9440</td>
                  </tr>
                  <tr>
                    <td><a href="#">September 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;40068</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;76063</td>
                  </tr>
                  <tr>
                    <td><a href="#">October 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;30069</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;9251</td>
                  </tr>
                  <tr>
                    <td><a href="#">November 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;69162</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;37332</td>
                  </tr>
                  <tr>
                    <td><a href="#">December 2015</a></td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-orange-200"></i> &dollar;99597</td>
                    <td class="width-100"><i class="fa fa-circle-o fa-fw text-caption text-green-200"></i> &dollar;87217</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.dashboard">Dashboard</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.messages">Messages</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.earnings">Earnings</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.statement">Statement</a></li>
              <li class="list-group-item" ng-class="{ 'active': $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a class="link-text-color" ui-sref="website-instructor.private-profile">Profile</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>

        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Github Webhooks for Beginners</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Awesome CSS with LESS Processing</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Portable Environments with Vagrant</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">WordPress Theme Development</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Modular JavaScript with Browserify</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Easy Online Payments with Stripe</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>