<script src="/Web/angular/js/app/controllers/signUpController.js"></script>
<div id="content">
    <div class="container-fluid">
        <div class="lock-container">
            <div class="panel panel-default text-center paper-shadow" data-z="0.5">
                <h1 class="text-display-1">Create account</h1>
                <div class="panel-body">

                    <!-- Signup -->
                    <!--<form role="form" action="::$state.href('pages.dashboard')::"">-->
                    <form role="form" ng-controller="logInController">
                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="firstName" type="text" class="form-control" placeholder="First Name"
                                       ng-model="user.name">
                                <label for="firstName" ng-show="user.name == ''">Name</label>
                            </div>
                            <label style="color: red;" ng-show="validations.name == true">Please enter a name.</label>
                        </div>
                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="email" type="text" class="form-control" placeholder="Email"
                                       ng-model="user.email">
                                <label for="email" ng-show="user.email == ''">Email address</label>
                            </div>
                            <label style="color: red;" ng-show="validations.email == true">Please enter an email.</label>
                            <label style="color: red;" ng-show="validations.not_email == true">Invalid email. Please enter a valid email.</label>
                        </div>
                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="password" type="password" class="form-control" placeholder="Password"
                                       ng-model="user.password">
                                <label for="password" ng-show="user.password == ''">Password</label>
                            </div>
                            <label style="color: red;" ng-show="validations.password == true">Please enter a password.</label>
                        </div>
                        <div class="form-group">
                            <div class="form-control-material">
                                <input id="passwordConfirmation" type="password" class="form-control" placeholder="Password Confirmation"
                                       ng-model="user.confirm_password">
                                <label for="passwordConfirmation" ng-show="user.confirm_password == ''">Re-type password</label>
                            </div>
                            <label style="color: red;" ng-show="validations.retype == true">Please retype your password.</label>
                            <label style="color: red;" ng-show="validations.retype_not_matching == true">Passwords are not matching. Please retype your password.</label>
                        </div>
                        <div class="form-group">
                            <div style="width: 100%; text-align: center !important;">
                                <div class="a-font-bold" ng-repeat="rol in roles"
                                     style="padding-left: 38%;">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="radio" name="role"
                                                       ng-model="user.role" ng-value="rol.value"
                                                       ng-change="changeRole()" />
                                            </td>
                                            <td>
                                                <div style="padding-left: 5px;">
                                                    ::rol.title::
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="text-center">
                            <a ui-sref="website-student.dashboard" class="btn btn-success">Back</a>
                            <a ng-click="CreateAccount()" class="btn btn-primary">Create an Account</a>
                        </div>
                    </form>
                    <!-- //Signup -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <strong>Telo LMS</strong> v1.1.0 &copy; Copyright 2016
</footer>
<!-- // Footer -->