<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">Bill Smith</h1>
                <p class="text-subhead"><a class="link-white text-underline" href="website-student-public-profile.html">View public profile</a></p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Student</span>
            </div>
        </div>
    </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="row" data-toggle="isotope">
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 5 of 16
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-grey-600" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-default"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-default">
                  <span class="v-center">
                <i class="fa fa-github"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">Github Webhooks for Beginners</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 5 of 6
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-blue-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-primary"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-primary">
                  <span class="v-center">
                <i class="fa fa-css3"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">Awesome CSS with LESS Processing</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 3 of 6
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-red-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-lightred"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-lightred">
                  <span class="v-center">
                <i class="fa fa-windows"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">Vagrant Portable Environments</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 4 of 12
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-orange-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-brown"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-brown">
                  <span class="v-center">
                <i class="fa fa-wordpress"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">WordPress Theme Development</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 2 of 15
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-deep-purple-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-purple"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-purple">
                  <span class="v-center">
                <i class="fa fa-jsfiddle"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">Browserify: Writing Modular JavaScript</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

              <div class="panel-heading">
                <div class="media media-clearfix-xs-min v-middle">
                  <div class="media-body text-caption text-light">
                    Lessons 2 of 15
                  </div>
                  <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                      <div class="progress-bar progress-bar-pink-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-100 bg-pink-400 text-white"></span>
                <a ui-sref="website-student.take-course" class="padding-none overlay overlay-full icon-block bg-pink-400 text-white">
                  <span class="v-center">
                <i class="fa fa-cc-visa"></i>
            </span>
                </a>

                <a ui-sref="website-student.take-course" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
                <span class="btn btn-circle btn-pink-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>

              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a ui-sref="website-student.take-course">Online Payments with Stripe</a></h4>

              </div>
              <hr class="margin-none" />
              <div class="panel-body">

                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated ui-sref="website-student.take-course">Go to course</a>

              </div>

            </div>
          </div>
        </div>

        <ul class="pagination margin-top-none">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.dashboard">Dashboard</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.courses">My Courses</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.private-profile">Profile</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.messages">Messages</a></li>
              <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>

        <h4>Featured</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Github Webhooks for Beginners</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Awesome CSS with LESS Processing</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Portable Environments with Vagrant</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">WordPress Theme Development</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Modular JavaScript with Browserify</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
              <div class="panel-body">
                <div class="media media-clearfix-xs">
                  <div class="media-left">
                    <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                      <span class="img icon-block s90 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Easy Online Payments with Stripe</a></h4>
                    <p class="small margin-none">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>