<div class="parallax bg-white page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle media-overflow-visible">
            <div class="media-left">
                <span class="icon-block s30 bg-lightred"><i class="fa fa-github"></i></span>
            </div>
            <div class="media-body">
                <div class="text-headline">Github Webhooks for Beginners</div>
            </div>
            <div class="media-right">
                <div class="dropdown">
                    <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">Course <span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="">Something</a></li>
                        <li><a href="">Something else</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="page-section" ng-class="{ 'padding-top-none': $state.includes('website-forum') || $state.includes('website-student') }">
          <div class="media media-overflow-visible s-container">
            <div class="media-body">
              <h1 class="text-display-1 margin-top-none">Can someone help me? I need a design advice</h1>
              <p class="text-light text-caption">
                posted by
                <a href="#">
                  <img src="images/people/50/woman-1.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 minutes ago
              </p>
            </div>
            <div class="media-right">
              <a href="#" class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-reply"></i> Reply</a>
            </div>
          </div>
        </div>

        <div class="media s-container">
          <div class="media-left">
            <div class="width-70 text-center">
              <p>
                <a href="">
                  <img src="images/people/50/woman-1.jpg" alt="people" />
                </a>
              </p>
              <p class="text-caption text-light">102 posts</p>
              <span class="icon-block s25 img-circle bg-green-300"><i class="fa fa-mortar-board text-white"></i></span>
              <span class="icon-block s25 img-circle bg-orange-300"><i class="fa fa-code-fork text-white"></i></span>
            </div>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-subhead-2">Jennifer Hudson <span class="text-caption text-light">- 2 minutes ago</span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci aliquid amet culpa delectus dolorem, eius eligendi et eveniet, ex exercitationem facilis magnam obcaecati perferendis quae? Alias, autem eos expedita ipsam laboriosam
                  quaerat quam quod, recusandae sequi, similique veritatis voluptas. Corporis dignissimos eligendi facilis iusto labore maiores modi necessitatibus nemo quos sapiente similique tempora, ut, voluptatibus. Eaque error natus sapiente!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eos excepturi natus recusandae sed veritatis, vitae voluptas? Alias enim quaerat quia quis saepe sapiente voluptatibus. Alias atque dignissimos dolores ea eaque earum facilis
                  harum illo incidunt, iusto, nam necessitatibus neque nostrum perspiciatis possimus quaerat quidem soluta suscipit tempore ut vel?</p>
              </div>
            </div>
          </div>
        </div>

        <div class="media s-container">
          <div class="media-left">
            <div class="width-70 text-center">
              <p>
                <a href="">
                  <img src="images/people/50/guy-2.jpg" alt="people" />
                </a>
              </p>
              <p class="text-caption text-light">2310 posts</p>
              <span class="icon-block s25 img-circle bg-purple-300"><i class="fa fa-star text-white"></i></span>
              <span class="icon-block s25 img-circle bg-indigo-300"><i class="fa fa-trophy text-white"></i></span>
            </div>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-subhead-2">Andrew B. <span class="text-caption text-light">- 2 minutes ago</span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloremque earum molestias quis soluta tenetur voluptas. A at beatae, dolore dolorem eligendi est eum expedita explicabo in nihil nisi quo reprehenderit sapiente tempore
                  vel vero, vitae. Aspernatur consequatur, culpa, dolorem eaque ipsum iusto magni, minus saepe similique sunt ut voluptatum.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="forum-thread-reply">
          <div class="media s-container">
            <div class="media-left">
              <div class="width-70 text-center">
                <a href="">
                  <img src="images/people/50/woman-5.jpg" alt="people" />
                </a>
              </div>
            </div>
            <div class="media-body">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-subhead-2">Jane D. <span class="text-caption text-light">- 2 hours ago</span></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore nobis quasi saepe sed voluptas? Culpa cupiditate deleniti ea iste maiores nulla quas, quos sed tempora ut. Accusamus autem cum earum hic iusto maxime nam necessitatibus
                    nesciunt nihil, non officiis optio perferendis quis sequi sit? Adipisci commodi, similique. Excepturi, porro.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media s-container">
          <div class="media-left">
            <div class="width-70 text-center">
              <a href="">
                <img src="images/people/50/guy-1.jpg" alt="people" />
              </a>
            </div>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-subhead-2">Dave P. <span class="text-caption text-light">- 1 hour ago</span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci aperiam, cum deserunt, dicta dolorum ea harum libero modi nihil quisquam veritatis. Aliquid ea et ex minus obcaecati temporibus voluptates! Commodi deserunt
                  dolorum eum excepturi exercitationem explicabo fugit impedit, incidunt, iusto modi molestias officia possimus praesentium veritatis, voluptatum? Dolor, repellat.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <ul class="pagination margin-top-none">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>

        <div class="page-section padding-top-none">
          <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="panel-heading">
              <h4 class="text-headline">Post a reply</h4>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group form-control-material">
                  <textarea id="reply" class="form-control" placeholder="Your comment .."></textarea>
                  <label for="reply">Your comment</label>
                </div>
                <div class="text-right">
                  <button class="btn btn-primary" type="button">Post reply <i class="fa fa-plus"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Resources</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-course">Curriculum</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.course-forums">Course Forums</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-quiz">Take Quiz</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.quiz-results">Quiz Results</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Instructor</h4>
          </div>
          <div class="panel-body">
            <div class="media v-middle">
              <div class="media-left">
                <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle" />
              </div>
              <div class="media-body">
                <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                <span class="caption text-light">Biography</span>
              </div>
            </div>
            <br/>
            <div class="expandable expandable-indicator-white expandable-trigger">
              <div class="expandable-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit
                  sunt totam vel velit voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
