<div class="parallax bg-white page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle media-overflow-visible">
      <div class="media-left">
        <span class="icon-block s30 bg-lightred"><i class="fa fa-github"></i></span>
      </div>
      <div class="media-body">
        <div class="text-headline">Github Webhooks for Beginners</div>
      </div>
      <div class="media-right">
        <div class="dropdown">
          <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">Course <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="">Something</a></li>
            <li><a href="">Something else</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="page-section" ng-class="{ 'padding-top-none': $state.includes('website-student') }">
          <div class="media v-middle">
            <div class="media-body">
              <h1 class="text-display-1 margin-none">Forums</h1>
              <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
            </div>
            <div class="media-right">
              <a href="#" class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-plus"></i> New Topic</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default paper-shadow" data-z="0.5">
          <ul class="list-group">

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 4</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 1</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 11</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Getting around AngularJS</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-20" /> Jonny Francine</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 8</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 9</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 9</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 15</a>
              </div>
            </li>

            <li class="list-group-item media v-middle">
              <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                  <i class="fa fa-file-text text-white"></i>
                </div>
              </div>
              <div class="media-body">
                <h4 class="text-subhead margin-none">
                  <a ui-sref=website-student.course-forum-thread class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                  posted by
                  <a href="#">
                    <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
              </div>
              <div class="media-right">
                <a ui-sref=website-student.course-forum-thread class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 17</a>
              </div>
            </li>

          </ul>
        </div>

        <ul class="pagination margin-top-none">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br/>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Resources</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-course">Curriculum</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.course-forums">Course Forums</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-quiz">Take Quiz</a></li>
              <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.quiz-results">Quiz Results</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">Instructor</h4>
          </div>
          <div class="panel-body">
            <div class="media v-middle">
              <div class="media-left">
                <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle" />
              </div>
              <div class="media-body">
                <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                <span class="caption text-light">Biography</span>
              </div>
            </div>
            <br/>
            <div class="expandable expandable-indicator-white expandable-trigger">
              <div class="expandable-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit
                  sunt totam vel velit voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>