<div class="parallax cover overlay height-300 height-500-lg height-320-xs">
    <img class="parallax-layer" src="images/photodune-6745585-modern-creative-workspace-m.jpg" alt="parallax image" />
    <div class="parallax-layer overlay overlay-full" data-opacity="true">
        <div class="v-center">
            <div class="container">
                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Learn from the best Tutors</h1>
                <p class="text-subhead overlay-bg-white-strong">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis doloremque dolorum error excepturi illum ipsa ipsam modi. <span class="hidden-sm hidden-xs">Nesciunt nulla obcaecati porro quibusdam repellendus reprehenderit saepe sequi, velit veniam voluptates!</span></p>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
  <div class="container">

    <div class="row" data-toggle="isotope">
      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Johnathan S.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/guy-1.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-gray-dark"><i class="text-white fa fa-css3"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">CSS Processing with LESS</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>

      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Fabrice M.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/guy-2.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">Senior Developer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-lightred"><i class="fa text-white fa-github"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">Github Webhooks for beginners</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>

      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Diane D.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/woman-2.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">Senior Designer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-purple"><i class="fa fa-jsfiddle text-white"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">Writing Modular JavaScript</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>

      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Nicole G.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/woman-3.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">Senior Developer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-brown"><i class="fa fa-wordpress text-white"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">WordPress Theme Development</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>

      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Abraham K.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/guy-4.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-gray-dark"><i class="fa fa-css3 text-white"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">CSS Processing with LESS</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>

      <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
          <div class="panel-heading">
            <h3 class="panel-title"><a ui-sref="website-instructor.public-profile">Jane D.</a></h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-instructor.public-profile">
                  <img src="images/people/110/woman-7.jpg" alt="people" />
                </a>
              </div>
              <div class="media-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                <span class="label label-default">Senior Designer</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="margin-none">Latest course</h5>
            <div class="media">
              <div class="media-left">
                <a ui-sref="website-courses.single" class="icon-block half bg-lightred"><i class="fa fa-github text-white"></i></a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a ui-sref="website-courses.single" class="text-primary">Github Webhooks for beginners</a></h4>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <a ui-sref="website-instructor.public-profile" class="btn btn-sm btn-primary">View profile</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
