/*
 * Design by : Antony Halim
 * Layout CSS
 * Body and Font Styling
 * Flat Style Concepts
 */

/*
 * Common CSS
 */

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* Utilities Class */
.a-automargin {
    margin:auto;
}

.a-hidden-display {
    display:none;
}

.a-stretch-width {
    width:100%;
}

.a-stretch-height {
    height:100%;
}

.a-center {
    text-align:center;
}

/*
 * Fixed Container
 */
.a-fixed-fullscreen {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    /*z-index:auto;*/
}

.a-fixed-floating {
    width:600px;
}

.a-fixed-dialog {
    margin-top:200px;
    width:300px;
}

/*
 * Overlay
 */
.a-overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:auto;
    background-color:#000;
    opacity:0.9;
}

/*
 * Font
 */
.a-serif {
	font-family: Sans-Serif;
}
.a-arial {
	font-family: Arial;
}
.a-cg {
	font-family: "Century Gothic";
}
.a-segoe {
	font-family: "Segoe UI";
}
.a-font-normal {
	font-size:10pt;
}
.a-font-standard {
	font-size:12pt;
}
.a-font-big {
	font-size:14pt;
}
.a-font-small {
	font-size:8pt;
}
.a-font-smaller {
	font-size:6pt;
}
.a-font-bigger {
	font-size:18pt;
}
.a-font-biggest {
	font-size:24pt;
}
.a-font-head-title {
	font-size:42pt;
}
.a-font-bold {
	font-weight:bold;
}
.a-font-lighter {
    font-weight:lighter;
}
.a-color-thin-black{
    color:#6F6F6F;
}

/*
 * Border
 */
.a-bw1 {
	border-width: 1px;
}
.a-bw2 {
	border-width: 2px;
}
.a-bw3 {
	border-width: 3px;
}
.a-bs-solid {
	border-style: solid;
}
.a-bs-dotted {
	border-style: dotted;
}
.a-bs-inset {
	border-style: inset;
}
.a-bs-outset {
	border-style: outset;
}
.a-bs-groove {
	border-style: groove;
}
.a-bordered1 {
	border: 1px solid;
}
.a-bordered2 {
	border: 2px solid;
}
.a-bordered3 {
	border: 3px solid;
}
.a-nb {
	border: none !important;
}
.a-nb-left {
	border-left:none !important;
}
.a-nb-right {
	border-right:none !important;
}
.a-nb-top {
	border-top:none !important;
}
.a-nb-bottom {
	border-bottom:none !important;
}

/*
 * Float
 */
.a-left {
	float:left;
}

.a-hold-left {
    padding-left:10px;
}

.a-right {
	float:right;
}

.a-hold-right {
    padding-right:10px;
}
/*
 * Padding
 */
.a-np {
    padding:0px;
}
.a-padded3 {
	padding: 3px;
}
.a-padded5 {
	padding: 5px;
}
.a-padded10 {
	padding: 10px;
}
.a-padded15 {
	padding: 15px;
}
.a-np-left {
	padding-left:0px !important;
}
.a-np-right {
	padding-right:0px !important;
}
.a-np-top {
	padding-top:0px !important;
}
.a-np-bottom {
	padding-bottom:0px !important;
}

/*
 * Margin
 */
.a-margin3 {
	margin: 3px;
}
.a-margin5 {
	margin: 5px;
}
.a-margin10 {
	margin: 10px;
}
.a-margin15 {
	margin: 15px;
}
.a-nm-left {
	margin-left:0px !important;
}
.a-nm-right {
	margin-right:0px !important;
}
.a-nm-top {
	margin-top:0px !important;
}
.a-nm-bottom {
	margin-bottom:0px !important;
}

/*
 * Layouting
 */
.a-container {
    width:100%;
    position:relative;
}
    .a-container > .a-area {
        float:left;
        position:relative;
    }

.a-u1 {
    width:10%;
}

.a-u-middle-1 {
    width:10%;
    height:30px;
}
.a-u-middle-2 {
    width:20%;
    height:30px;
}
.a-middle {
    line-height:30px;
    vertical-align:middle;
}


.a-u2 {
    width:20%;
}
.a-u3 {
    width:30%;
}
.a-u4 {
    width: 40%;
}
.a-u5 {
    width: 50%;
}
.a-u6 {
    width: 60%;
}
.a-u7 {
    width: 70%;
}
.a-u8 {
    width: 80%;
}
.a-u9 {
    width: 90%;
}
.a-u10 {
    width: 100%;
}
.a-u0_5 {
	width: 5%;
}
.a-u1_5 {
    width:15%;
}
.a-u2_5 {
    width:25%;
}
.a-u3_5 {
    width:35%;
}
.a-u4_5 {
    width: 45%;
}
.a-u5_5 {
    width: 55%;
}
.a-u6_5 {
    width: 65%;
}
.a-u7_5 {
    width: 75%;
}
.a-u8_5 {
    width: 85%;
}
.a-u9_5 {
    width: 95%;
}
.a-clear-pad {
    clear: both;
    height:10px;
}
.a-clear-min {
    clear: both;
}

.a-inner-content {
    padding:10px;
    position:relative;
}

.a-inner-content-packed {
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
    position:relative;
}

/*
 * Coloring
 */
.a-purple {
	background-color:#A200FF;
	color: #FFFFFF;
}
.a-magenta {
	background-color:#FF0097;
	color: #FFFFFF;
}
.a-teal {
	background-color:#00ABA9;
	color: #FFFFFF;
}
.a-lime {
	background-color:#8CBF26;
	color: #FFFFFF;
}
.a-brown {
	background-color:#A05000;
	color: #FFFFFF;
}
.a-pink {
	background-color:#E671B8;
	color: #FFFFFF;
}
.a-orange {
	background-color:#F09609;
	color: #FFFFFF;
}
.a-blue {
	background-color:#1BA1E2;
	color: #FFFFFF;
}
.a-red {
	background-color:#E51400;
	color: #FFFFFF;
}
.a-green {
	background-color:#339933;
	color: #FFFFFF;
}
.a-white {
	background-color:#FFFFFF;
	color: #000000;
}

.loadingScreen{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: white;
   text-align: center;
   -webkit-transform-style: preserve-3d;
}

.loadingScreen > div{
  position: absolute;
  top: 47%;
  left: 47%;
}


div.m-app-loading {
    position: fixed ;
}
div.m-app-loading div.animated-container {
    background-color: #333333 ;
    bottom: 0px ;
    left: 0px ;
    opacity: 1.0 ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
    z-index: 999999 ;
}
/* Used to initialize the ng-leave animation state. */
div.m-app-loading div.animated-container.ng-leave {
    opacity: 1.0 ;
    transition: all linear 200ms ;
        -webkit-transition: all linear 200ms ;
}
/* Used to set the end properties of the ng-leave animation state. */
div.m-app-loading div.animated-container.ng-leave-active {
    opacity: 0 ;
}
div.m-app-loading div.messaging {
    color: #FFFFFF ;
    font-family: monospace ;
    left: 0px ;
    margin-top: -37px ;
    position: absolute ;
    right: 0px ;
    text-align: center ;
    top: 50% ;
}
div.m-app-loading h1 {
    font-size: 26px ;
    line-height: 35px ;
    margin: 0px 0px 20px 0px ;
}
div.m-app-loading p {
    font-size: 18px ;
    line-height: 14px ;
    margin: 0px 0px 0px 0px ;
}


.splash {
  display: none;
}

[ng-cloak].splash {
  display: block !important;
}