﻿.animate-enter,.animate-leave {
-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
transition:1500ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
    /*top:100%;*/
    left:100%;
}

.animate-leave.animate-leave-active {
    /*top:-100%;*/
    left:-100%
}

.animate-enter.animate-enter-active,.animate-leave {
    /*top:0;*/
    left:0;
}