/*
 * Bootstrap Normalization / Customization - with Help from ACE Admin CSS
 */
.navbar a.brand {
    margin-left:10px;
}

.btn-normalize-align {
    margin-top: -10px;
}

.select-normalize-align {
    margin-top: 5px;
}

.tab-content {
    border: 1px solid #c5d0dc;
    padding: 16px 12px;
    position: relative;
}

/* Container */
.container-fluid {
    padding-left:5px !important;
    padding-right:5px !important;
}


/* Search Box */
.input-append button.add-on {
    height: inherit;
}

/* Alert */
.alert {
    font-weight:bold;
    font-size:10pt;
}

.bringup {
    z-index:9999;
}

/* Validation */
.onsite-validation {
    margin-top:0px;
}

/* Modal */
.modal {
    border-radius: 0px;
}

/* No Border Radius */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius:0px;
    font-size:12px;
    border: 1px solid #CCCCCC;
}

/*.btn {
    border-radius:0px;
}*/

select {
    /*font-size:12px;*/
    border :1px solid #cccccc;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    min-width: 200px;
}


/* Modal Huge */
.modal-huge {
    width: 80%;
    margin-left: -40%;
}
@media (max-width: 600px) {
    .modal-huge {
        width: 580px;
        margin-left: -290px;
    }
}

.modal-fullscreen {
    width: 97%;
    height: 90%;
    margin-left: -48.5%;
    margin-top: -3.5%;
}
.modal-body-fullscreen {
    overflow-y: auto;
    max-height: 85%;
    padding: 15px;
}

@media (max-width: 600px) {
    .modal-fullscreen {
        width: 580px;
        margin-left: -290px;
    }
}
