﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">Lesson</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Lesson Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="lesson.LessonCode" placeholder="Code">
                                <div style="color: red">:: validations['LessonCode'] ::</div>
                                <div style="color: red">:: validations['Duplicate'] ::</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Class Label : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="lesson.LessonLabel" placeholder="Label">
                                <div style="color: red">:: validations['LessonLabel'] ::</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Class : </label>
                            <div class="col-sm-8">
                                <select ng-options="c.ClassId as c.ClassLabel for c in classes"
                                        ng-model="lesson.ClassId">
                                    <option value="">--Select Class--</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()">
        <i class="fa fa-times"></i>
        Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()">
        <i class="fa fa-check"></i>
        Save
    </button>
</div>
