﻿<div class="parallax overflow-hidden page-section bg-cyan-300">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-cyan-500 text-white"><i class="fa fa-users"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">User Management</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-section">
        <div loading-progress></div>
        <div class="row">
            <div style="width: 100%;">
                <div class="media-body">
                    <span class="btn btn-primary"
                          ng-click="Fetch()">
                        <i class="fa fa-refresh" style="float: left;"></i>
                    </span>
                    <span class="btn btn-primary"
                          ng-click="onCreateNew()">
                        <i class="fa fa-user-plus" style="float: left;"></i>&nbsp;Add New
                    </span>
                </div>

                <div class="media-right">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." style="width: 200px;" ng-model="SearchQuery.Search.Keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="Fetch()"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="a-clear-min"></div>
                <div>
                    <table class="table table-hover table-bordered table-striped">
                        <thead style="background: #0d89ed; color: white; font-size: 12pt;">
                            <tr>
                                <th style="width: 11%;"></th>
                                <th style="width: 20%;" ng-click="onSort('Username')">
                                    Name
                                    <span class="a-right">
                                        <i ng-class="{ 'fa fa-chevron-up': sort.Username.asc, 'fa fa-chevron-down': !sort.Username.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 20%;" ng-click="onSort('Email')">
                                    Email
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.Email.asc, 'fa fa-chevron-down': !sort.Email.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 20%;">
                                    Role
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.RoleLabel.asc, 'fa fa-chevron-down': !sort.RoleLabel.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 20%;">
                                    Institution
                                    <span class="a-right" ng-class="{ 'a-hidden-display': !sort.InstitutionLabel.active }">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.InstitutionLabel.asc, 'fa fa-chevron-down': !sort.InstitutionLabel.asc }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!users || users.length==0">
                                <td colspan="5">There is no user data.</td>
                            </tr>
                            <tr ng-repeat="User in users">
                                <td style="text-align: center;">
                                    <i class="fa fa-pencil-square-o fa-lg" style="color: blue; cursor: pointer;"
                                       ng-click="onRowEdit(User)"></i>&nbsp;&nbsp;
                                    <i class="fa fa-trash-o fa-lg" style="color: red; cursor: pointer;"
                                       ng-click="onRowDelete(User)"></i>
                                </td>
                                <td>
                                    ::User.Username::
                                </td>
                                <td>
                                    ::User.Email::
                                </td>
                                <td>
                                    ::User.RoleLabel::
                                </td>
                                <td>
                                    ::User.InstitutionLabel::
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="a-clear-min"></div>
                <div class="a-area a-u10 a-center">
                    <pagination num-pages="SearchQuery.TotalPage"
                                max-size="SearchQuery.MaxPage" direction-links="true" boundary-links="true"
                                current-page="SearchQuery.Page" on-select-page="onPageChanged(page)"
                                previous-text="'<'" next-text="'>'"
                                first-text="'<<'" last-text="'>>'">
                    </pagination>

                </div>

                <div class="a-clear-min"></div>
            </div>
        </div>
    </div>
</div>
