﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">USER FORM</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Name"
                                       ng-model="user.Username">
                                <label style="color: red;" ng-show="validations.Username == true">Please enter a name.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Email address : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Email"
                                       ng-model="user.Email">
                                <label style="color: red;" ng-show="validations.Email == true">Please enter an email.</label>
                                <label style="color: red;" ng-show="validations.not_email == true">Invalid email. Please enter a valid email.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Password : </label>
                            <div class="col-sm-8">
                                <input id="password" type="password" class="form-control" placeholder="Password"
                                       ng-model="user.Password">
                                <label style="color: red;" ng-show="validations.Password == true">Please enter a password.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Re-type password : </label>
                            <div class="col-sm-8">
                                <input id="passwordConfirmation" type="password" class="form-control" placeholder="Password Confirmation"
                                       ng-model="user.Confirm_Password">
                                <label style="color: red;" ng-show="validations.retype == true">Please retype your password.</label>
                                <label style="color: red;" ng-show="validations.retype_not_matching == true">Passwords are not matching. Please retype your password.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Role : </label>
                            <div class="col-sm-8">
                                <select ng-options="c.RoleId as c.RoleLabel for c in roles"
                                        ng-model="user.RoleId">
                                    <option value="">--Select Role--</option>
                                </select>
                                <label style="color: red;" ng-show="validations.Role == true">Please select a role.</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()" style="width: 90px;">
        <i class="fa fa-times"></i>
        &nbsp;Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()" style="width: 90px;">
        <i class="fa fa-check"></i>
        &nbsp;Save
    </button>
</div>
