﻿<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #0d89ed !important;">
            <h3 class="modal-title" style="color: white !important;">Student Class Assignment</h3>
        </div>
        <div class="modal-body">
            <div id="content">
                <div class="container-fluid">
                    <div class="lock-container">
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;"></th>
                                        <th>Students</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="s in classStudents">
                                        <td>
                                            <i class="fa fa-trash-o fa-lg" style="color: red; cursor: pointer;"
                                                ng-click="onDeleteStudent(s)"></i>
                                        </td>
                                        <td>::s.Name::</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-7">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Students : </label>
                                        <div class="col-sm-8">
                                            <select ng-options="stu as stu.Username for stu in students"
                                                    ng-model="selected.student">
                                                <option value="">-- Select Student --</option>
                                            </select>
                                            <button class="btn btn-primary btn-small" ng-click="onAddStudent(selected.student)">Add</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="onClose()">
                <i class="fa fa-check"></i>
                Close
            </button>
        </div>
    </div>
</div>



