﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">Course</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Course Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="course.CourseCode" placeholder="Code">
                                <div style="color: red">:: validations['CourseCode'] ::</div>
                                <div style="color: red">:: validations['Duplicate'] ::</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Course Label : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="course.CourseLabel" placeholder="Label">
                                <div style="color: red">:: validations['CourseLabel'] ::</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description : </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="course.Description" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Year Intake : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="course.YearIntake" placeholder="Year Intake">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Picture : </label>
                            <div class="col-sm-8">
                                <div style="width: 120px; height: 120px; border: 1px solid gray;">
                                    <img ng-src="::course.PictureUrl::" style="width: inherit; height: inherit;"/>
                                </div>
                                <div file-uploader file-result="fileResult" pick-fn="onPick(result)"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()">
        <i class="fa fa-times"></i>
        Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()">
        <i class="fa fa-check"></i>
        Save
    </button>
</div>
