﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">Class</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Class Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="class.ClassCode" placeholder="Code">
                                <div style="color: red">:: validations['ClassCode'] ::</div>
                                <div style="color: red">:: validations['Duplicate'] ::</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Class Label : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="class.ClassLabel" placeholder="Label">
                                <div style="color: red">:: validations['ClassLabel'] ::</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Course : </label>
                            <div class="col-sm-8">
                                <select ng-options="c.CourseId as c.CourseLabel for c in courses"
                                        ng-model="class.CourseId">
                                    <option value="">--Select Course--</option>
                                </select>
                                <div style="color: red">:: validations['ClassLabel'] ::</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Instructor : </label>
                            <div class="col-sm-8">
                                <select ng-options="i.UserId as i.Username for i in instructors"
                                        ng-model="class.InstructorId">
                                    <option value="">-- Select Instructor --</option>
                                </select>
                                <div style="color: red">:: validations['Instructor'] ::</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Co-Instructor : </label>
                            <div class="col-sm-8">
                                <select ng-options="i.UserId as i.Username for i in instructors"
                                        ng-model="class.CoInstructorId">
                                    <option value="">-- Select Co-Instructor --</option>
                                </select>
                                <div style="color: red">:: validations['CoInstructor'] ::</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()">
        <i class="fa fa-times"></i>
        Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()">
        <i class="fa fa-check"></i>
        Save
    </button>
</div>
