﻿<div class="parallax overflow-hidden page-section bg-cyan-300">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-cyan-500 text-white"><i class="fa fa-users"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">Class</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-section">
        <div class="row">
            <div style="width: 100%;">
                <div class="media-body">
                    <span class="btn btn-primary"
                          ng-click="Fetch()">
                        <i class="fa fa-refresh" style="float: left;"></i>
                    </span>
                    <span class="btn btn-primary"
                          ng-click="onCreateNew()">
                        <i class="fa fa-user-plus" style="float: left;"></i>Add New
                    </span>
                </div>

                <div class="media-right">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." style="width: 200px;" ng-model="SearchQuery.Search.Keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="Fetch()"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="a-clear-min"></div>
                <div>
                    <table class="table table-hover table-bordered table-striped">
                        <thead style="background: #0d89ed; color: white;">
                            <tr>
                                <th style="width: 10%;"></th>
                                <th style="width: 20%;" ng-click="onSort('ClassCode')">
                                    Class Code
                                    <span class="a-right">
                                        <i ng-class="{ 'fa fa-chevron-up': sort.name.asc, 'fa fa-chevron-down': !sort.name.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 20%;" ng-click="onSort('ClassLabel')">
                                    Class Label
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.role.asc, 'fa fa-chevron-down': !sort.role.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 20%;" ng-click="onSort('CourseLabel')">
                                    Course Label
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.role.asc, 'fa fa-chevron-down': !sort.role.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 15%;" ng-click="onSort('Instructor')">
                                    Instructor
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.role.asc, 'fa fa-chevron-down': !sort.role.asc }"></i>
                                    </span>
                                </th>
                                <th style="width: 15%;" ng-click="onSort('CoInstructor')">
                                    Co-Instructor
                                    <span class="a-right">
                                        <i class="icon icon-white" ng-class="{ 'fa fa-chevron-up': sort.role.asc, 'fa fa-chevron-down': !sort.role.asc }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!classes || classes.length==0">
                                <td colspan="6">There is no class data.</td>
                            </tr>
                            <tr ng-repeat="class in classes">
                                <td>
                                    <i class="fa fa-pencil-square-o fa-lg" style="color: blue; cursor: pointer; padding-right: 5px;"
                                       ng-click="onRowEdit(class)"></i>
                                    <i class="fa fa-list fa-lg" style="color: blue; cursor: pointer; padding-right: 5px;"
                                       ng-click="onRowAddStudent(class)"></i>
                                    <i class="fa fa-trash-o fa-lg" style="color: red; cursor: pointer;"
                                       ng-click="onRowDelete(class)"></i>

                                </td>
                                <td>::class.ClassCode::</td>
                                <td>::class.ClassLabel::</td>
                                <td>::class.CourseLabel::</td>
                                <td>::class.InstructorName::</td>
                                <td>::class.CoInstructorName::</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="a-clear-min"></div>
                <div class="a-area a-u10 a-center">
                    <pagination num-pages="SearchQuery.TotalPage"
                                max-size="SearchQuery.MaxPage" direction-links="true" boundary-links="true"
                                current-page="SearchQuery.Page" on-select-page="onPageChanged(page)"
                                previous-text="'<'" next-text="'>'"
                                first-text="'<<'" last-text="'>>'">
                    </pagination>

                </div>

                <div class="a-clear-min"></div>
            </div>
        </div>
    </div>
</div>
