<!--<script src="/Web/angular/js/app/controllers/logInController.js"></script>-->
<div id="content">
  <!--<div loading-progress></div>-->
  <div class="container-fluid">

    <div class="lock-container" style="width: 80%;  margin: auto;">
      <div class="panel panel-default text-center paper-shadow" data-z="0.5">
        <h1 class="text-display-1 text-center margin-bottom-none">Sign In</h1>
        <img src="/Web/LMS.angular/images/people/110/guy-5.jpg" class="img-circle width-80">
          <div class="panel-body">
              <div class="form-group">
                  <div class="form-control-material">
                      <input id="email" type="text" class="form-control" placeholder="Email"
                             ng-model="user.email">
                      <label for="email" ng-show="user.email == ''">Email</label>
                  </div>
                  <label style="color: red;" ng-show="validations.email == true">Please enter an email.</label>
                  <label style="color: red;" ng-show="validations.not_email == true">Invalid email. Please enter a valid email.</label>
              </div>
              <div class="form-group">
                  <div class="form-control-material">
                      <input id="password" type="password" class="form-control" placeholder="Password"
                             ng-model="user.password">
                      <label for="password" ng-show="user.password == ''">Password</label>
                  </div>
                  <label style="color: red;" ng-show="validations.password == true">Please enter a password.</label>
              </div>
              <!--<a ui-sref="website-student.dashboard" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>-->

              <a ng-click="LogIn()" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>
              <br />
              <br />
              <!--<a href="#" class="forgot-password">Forgot password?</a>-->
              <!--<a ui-sref="sign-up" class="link-text-color" style="color: blue;">Create account</a>-->
          </div>
      </div>
    </div>

  </div>
</div>