﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">INSTITUTION FORM</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Institution Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Institution Code"
                                       ng-model="institution.InstitutionCode">
                                <label style="color: red;" ng-show="validations.InstitutionCode == true">Please enter a institution code.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Institution Label : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Institution Label"
                                       ng-model="institution.InstitutionLabel">
                                <label style="color: red;" ng-show="validations.InstitutionLabel == true">Please enter a institution label.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">User Limit : </label>
                            <div class="col-sm-8">
                                <div>
                                    <button class="btn" style="border-radius: 15px;float: left;" 
                                            ng-click="plus()">
                                        <span style="font-weight: bolder;">+</span>
                                    </button>
                                    <input type="text" class="form-control" style="width: 100px; float: left; margin-left: 5px;"
                                           name="number" ng-model="institution.UserLimit" only-digits>
                                    <button class="btn" style="border-radius: 15px;float: left; margin-left: 5px;" 
                                            ng-click="minus()">
                                        <span style="font-weight: bolder;">-</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Subscription : </label>
                            <div class="col-sm-8">
                                <input type="checkbox" ng-model="institution.Subscribed" bootstrap-switch />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()" style="width: 90px;">
        <i class="fa fa-times"></i>
        &nbsp;Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()" style="width: 90px;">
        <i class="fa fa-check"></i>
        &nbsp;Save
    </button>
</div>
