﻿<form id="fileupload"
    method="POST" enctype="multipart/form-data"
    data-file-upload="uploadConfig"
      data-ng-class="{ 'fileupload-processing': processing() || loadingFiles }"
    style="width: 250px;">
    <div class="btn btn-primary" style="text-align: left; width: 90%;">
        <input type="file" name="FileUploaded" multiple ng-disabled="disabled">
    </div>
    
</form>
