﻿<div class="modal-header" style="background-color: #0d89ed !important;">
    <h3 class="modal-title" style="color: white !important;">ROLE FORM</h3>
</div>
<div class="modal-body">
    <div id="content">
        <div class="container-fluid">

            <div class="lock-container">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Role Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Role Code"
                                       ng-model="role.RoleCode">
                                <label style="color: red;" ng-show="validations.RoleCode == true">Please enter a role code.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Role Label : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="RoleLabel"
                                       ng-model="role.RoleLabel">
                                <label style="color: red;" ng-show="validations.RoleLabel == true">Please enter a role label.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Default Route : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="DefaultRoute"
                                       ng-model="role.DefaultRoute">
                                <label style="color: red;" ng-show="validations.DefaultRoute == true">Please enter a default route.</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancel()" style="width: 90px;">
        <i class="fa fa-times"></i>
        &nbsp;Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="onSave()" style="width: 90px;">
        <i class="fa fa-check"></i>
        &nbsp;Save
    </button>
</div>
